<% if (opt.title) { %>
    <h4 class="products-carousel__title">
        <% if (opt.link) { %>
          <a href="<%= link %>">
            <%= opt.title %>
          </a>
        <% } else { %>
          <span><%= opt.title %></span>
        <% } %>
    </h4>
  <% } %>