.variations__option--Libertadores::after {
  content: "";
  background-image: url(/img/uploads/LIBERTADORES.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Libertadores {
  font-size: 0;
}
 
.variations__option--Não::after {
  content: "";
  background-image: url(/img/uploads/BlockTransp.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Não {
  font-size: 0;
}
  
.variations__option--Liga.Argentina::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20ARGENTINA.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.Argentina {
  font-size: 0;
}
  
.variations__option--Eliminatórias::after {
  content: "";
  background-image: url(/img/uploads/ELIMINATÓRIAS.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Eliminatórias {
  font-size: 0;
}
  
.variations__option--Championship::after {
  content: "";
  background-image: url(/img/uploads/CHAMPIONSHIP.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Championship {
  font-size: 0;
}
  
.variations__option--Bundesliga::after {
  content: "";
  background-image: url(/img/uploads/BUNDESLIGA.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Bundesliga {
  font-size: 0;
}
  
.variations__option--La.Liga::after {
  content: "";
  background-image: url(/img/uploads/LA%20LIGA.jpeg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--La.Liga {
  font-size: 0;
}
  
.variations__option--Europa.League::after {
  content: "";
  background-image: url(/img/uploads/EUROPA%20LEAGUE.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Europa.League {
  font-size: 0;
}
  
.variations__option--Premier.League::after {
  content: "";
  background-image: url(/img/uploads/PREMIER%20LEAGUE.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Premier.League {
  font-size: 0;
}
  
.variations__option--Sul.Americana::after {
  content: "";
  background-image: url(/img/uploads/SUL%20AMERICANA.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Sul.Americana {
  font-size: 0;
}
  
.variations__option--Eredivisie::after {
  content: "";
  background-image: url(/img/uploads/EREDIVISIE.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Eredivisie {
  font-size: 0;
}
  
.variations__option--Serie A TIM::after {
  content: "";
  background-image: url(/img/uploads/SERIE%20A%20TIM.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Serie A TIM {
  font-size: 0;
}
  
.variations__option--.Ligue1::after {
  content: "";
  background-image: url(/img/uploads/LIGUE%201.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--.Ligue1 {
  font-size: 0;
}
  
.variations__option--Major.League Soccer::after {
  content: "";
  background-image: url(/img/uploads/MAJOR%20LEAGUE%20SOCCER.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Major.League.Soccerspan {
  font-size: 0;
}
  
.variations__option--Liga.Mexicana::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20MEXICANA.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.Mexicana {
  font-size: 0;
}
  
.variations__option--Liga.Portugal.Campeão::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20PORTUGAL%20CAMPEÃO.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.Portugal.Campeão {
  font-size: 0;
}
  
.variations__option--.Ligue1.Campeão::after {
  content: "";
  background-image: url(/img/uploads/LIGUE%201%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--.Ligue1.Campeão {
  font-size: 0;
}
  
.variations__option--Eredivisie.Campeão::after {
  content: "";
  background-image: url(/img/uploads/EREDIVISIE%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Eredivisie.Campeão {
  font-size: 0;
}
  
  
.variations__option--Libertadores.Campeão::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20ARGENTINA%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Libertadores.Campeão {
  font-size: 0;
}
  
.variations__option--Premier.League.Campeão::after {
  content: "";
  background-image: url(/img/uploads/PREMIER%20LEAGUE%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Premier.League.Campeão {
  font-size: 0;
}
  
.variations__option--La.Liga.Campeão::after {
  content: "";
  background-image: url(/img/uploads/LA%20LIGA%20CAMPEÃO.jpeg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--La.Liga.Campeão {
  font-size: 0;
}
  
.variations__option--Liga.Argentina.Campeão::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20ARGENTINA%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.Argentina.Campeão {
  font-size: 0;
}
  
.variations__option--Bundesliga.Campeão::after {
  content: "";
  background-image: url(/img/uploads/BUNDESLIGA%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Bundesliga.Campeão {
  font-size: 0;
}
  
.variations__option--Serie A TIM.Campeão::after {
  content: "";
  background-image: url(/img/uploads/SERIE%20A%20TI%20CAMPEÃO.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Serie A TIM.Campeão {
  font-size: 0;
}
  
.variations__option--UCL.Campeão::after {
  content: "";
  background-image: url(/img/uploads/UCL%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--UCL.Campeão {
  font-size: 0;
}
 
.variations__option--Europa.League.Campeão::after {
  content: "";
  background-image: url(/img/uploads/EUROPA%20LEAGUE.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Europa.League.Campeão {
  font-size: 0;
}

  
.variations__option--UCL::after {
  content: "";
  background-image: url(/img/uploads/UCL.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--UCL {
  font-size: 0;
}
  
.variations__option--Conference.League::after {
  content: "";
  background-image: url(/img/uploads/CONFERENCE%20LEAGUE.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Conference.League {
  font-size: 0;
}
  
.variations__option--Copa.das.Nações.Africana::after {
  content: "";
  background-image: url(/img/uploads/COPA%20DAS%20NAÇÕES%20AFRICANA.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Copa.das.Nações.Africana {
  font-size: 0;
}
  
.variations__option--Scottish.Premiership::after {
  content: "";
  background-image: url(/img/uploads/SCOTTISH%20PREMIERSHIP.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Scottish.Premiership {
  font-size: 0;
}
  
.variations__option--Liga.Portugal::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20PORTUGAL.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.Portugal {
  font-size: 0;
}
  

  
.variations__option--SüperLig::after {
  content: "";
  background-image: url(/img/uploads/SUPERLIG.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--SüperLig {
  font-size: 0;
}
  
.variations__option--League.ONE::after {
  content: "";
  background-image: url(/img/uploads/LEAGUE%20ONE.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--League.ONE {
  font-size: 0;
}
  
.variations__option--Liga.das.Nações.da.UEFA::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20DAS%20NAÇÕES%20DA%20EUFA.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.das.Nações.da.UEFA {
  font-size: 0;
}
  
.variations__option--Liga.Mexicana.Campeão::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20MEXICANA%20CAMPEÃO.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.Mexicana.Campeão {
  font-size: 0;
}
  
.variations__option--Serie.A.TIM.B::after {
  content: "";
  background-image: url(/img/uploads/SERIE%20A%20TIM%20B.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Serie.A.TIM.B {
  font-size: 0;
}
  
.variations__option--Liga.Saudita::after {
  content: "";
  background-image: url(/img/uploads/LIGA%20SAUDITA.png);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Liga.Saudita {
  font-size: 0;
}
  

.variations__option--EFL.Cup::after {
  content: "";
  background-image: url(/img/uploads/EFL%20CUP.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--EFL.Cup {
  font-size: 0;
}
  
.variations__option--Copa.Itália::after {
  content: "";
  background-image: url(/img/uploads/COPA%20ITÁLIA.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Copa.Itália {
  font-size: 0;
}
  
.variations__option--Copa.da.Alemanha::after {
  content: "";
  background-image: url(/img/uploads/COPA%20DA%20ALEMANHA.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Copa.da.Alemanha {
  font-size: 0;
}
  
.variations__option--Copa.do.Rei::after {
  content: "";
  background-image: url(/img/uploads/COPA%20DO%20REI.jpg);
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
}
.variations__option--Copa.do.Rei {
  font-size: 0;
}
