// Add your custom CSS here.
.header__category{
    color: #ffffff;
}

.header {
    background: #000000;
}

.top-bar {
    background: #7200dd;
}

.top-bar__nav {
    color: #ffffff;
}

#cart-button{ 
    color: #ffffff;
}

#cart-button{ 
    color: #ffffff;
}

#button-whatsapp {
    width: 100%;
    color: #fff;
    padding: 15px;
    background-color: #468D7E;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    text-decoration: none !important;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    box-shadow: rgb(0 0 0 / 15%) 0 5px 10px 0;
  
    .wpp-icon {
      width: 20px;
      margin-right: 10px;
    }
  }

  .product__buy button, #goToCart {
    width: 100%;
  }

  #goToCart {
    margin-top: 10px;
  }

  .product-card__buy.fade {
    opacity: 1
  }

  #whatsapp-button-card {
    padding-left: 0;
    padding-right: 0;
  }

  .stamps__league {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  
  .stamps__league li:not(:last-child), .timer {
    margin-right: 1.5rem;
  }
  .stamps__league > li {
    padding-right: .5rem;
    min-width: auto;
  }
  .stamps__league > li {
    min-width: 180px;
    max-width: 180px;
    padding: 1rem 0;
    text-align: center;
  }
  
  .stamps__league img {
    max-height: none;
  }
  .stamps__league li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: .0625rem .0625rem .25rem #979798;
  }
  #col-fav .stamps__league li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  }
  
  @media(min-width: 767px) {
  .stamps__league li {
  width: 8.7375rem;
  height: 8.7375rem;
  }
  #col-fav .stamps__league li {
  width: 12.7375rem;
  height: 24.7375rem;
  }
  #col-fav img {
    max-width: 240px;
  }
  .footer__stamps__league img {
    max-width: 80px;
  }
  #col-fav .stamps__league > li {
    min-width: 240px;
    max-width: 300px;
    padding: 1rem 0;
    text-align: center;
  }
  }
  @media(max-width: 767px) {
  .stamps__league li {
  width: 10.7375rem;
  height: 10.7375rem;
  }
  .footer__stamps__league img {
    max-width: 70px !important;
  }
  #col-fav .stamps__league li {
  width: 10.7375rem;
  height: 12.7375rem;
  }
  #col-fav img {
    max-width: 135px;
  }
  #col-fav .stamps__league > li {
    min-width: 135px;
  }
  }
  
  .footer__stamps__league p {
  font-weight: bold;
  font-size: 2rem
  }

  // modal time
#modal-stamps .tabs-container li a { color: #b5b5b5;}#modal-stamps .tabs-container li.active a, #modal-stamps .tabs-container li a:hover { color: #242424 !important;}#modal-stamps .tabs-container li.active, #modal-stamps .tabs-container li:hover { border-bottom: .125rem solid #242424 !important;}#modal-stamps .modal-body { max-width: 52.0625rem; min-width: 18.75rem; background-color: #fff; border-radius: .5rem; padding: 1.5rem 1rem;}#modal-stamps .tabs-container .tabs .tab { padding-bottom: .375rem;}#modal-stamps .tabs-container .tabs .tab:first-child { margin-left: 0;}#modal-stamps .tabs-container li { display: inline-block; flex-grow: 1; text-align: center; text-transform: uppercase; font-size: .9375rem; margin-left: 0.5rem;}#modal-stamps .tabs a { text-decoration: none !important;}#modal-stamps .modal-dialog { max-width: 50%; width: 100%;}#modal-stamps .modal-content { border-radius: 1rem;}#modal-stamps .secondary-selector { display: flex; flex-wrap: wrap;}#modal-stamps .secondary-selector .secondary-selector-item { width: 100px; height: 100px; border-radius: .25rem; margin: 0 .25rem .5rem; background-color: #f5f6f8;}#modal-stamps .secondary-selector .secondary-selector-item a, #modal-stamps .secondary-selector .secondary-selector-item button { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; margin: auto; padding: .5rem; cursor: pointer;}#modal-stamps .secondary-selector-item .scrollable-selector-img { width: 100%; height: 100%; max-height: 52px; max-width: 52px; transition: opacity .5s ease-in; border-radius: 0 !important;}#modal-stamps .secondary-selector .secondary-selector-item .secondary-item-name { display: flex; justify-content: center; font-size: .75rem; text-align: center; padding-top: .5rem; line-height: .75rem;}#modal-stamps .tabs-container ul.tabs { list-style: none; cursor: pointer;}#modal-stamps .tabs { padding: 1.25rem 0 0; overflow-x: auto; border-bottom: 1px solid #d5d5d5; margin-bottom: 1.125rem; max-width: calc(100vw - 24px); list-style: none; display: flex; padding: 0 .5rem; cursor: pointer;}#col-leagues .stamps { list-style:none; display:flex; align-items:center; flex-wrap:nowrap; overflow-x:auto; padding:0; margin:0; max-width:100%}#col-leagues .stamps li:not(:last-child),#modal-stamps .timer { margin-right:1.5rem}#col-leagues .stamps>li { padding-right:.5rem; min-width:auto}#col-leagues .stamps>li { min-width:120px; max-width:180px; padding:1rem 0; text-align:center}#col-leagues .stamps img { max-height: 100px;}#col-leagues .stamps li { display:flex; justify-content:center; align-items:center; border-radius:100%; background-color:#fff; box-shadow:.0625rem .0625rem .25rem #979798}@media(min-width:767px) {#col-leagues .stamps li { width:120px; height:auto } #modal-stamps .footer__stamps img { max-width:80px } #modal-stamps .modal-dialog { max-width: 50%; width: 100%;}}@media(max-width:767px) { #col-leagues .stamps li img {max-width: 70px !important } #modal-stamps .footer__stamps img { max-width:70px } #modal-stamps .modal-dialog { max-width: 100%; width: 100%; margin: 0 !important;}#modal-stamps .secondary-selector .secondary-selector-item { width:100px; min-width: calc(100%/3 - 8px);}#modal-stamps .secondary-selector-item .scrollable-selector-img { width: auto; height: auto;}}#modal-stamps .footer__stamps p { font-weight:700; font-size:2rem}.modal-header .close {margin-top: -25px !important;}
#col-leagues {
  background-color: #FFFFFF !important;
}
.footer__stamps p {
  font-weight: 700;
  font-size: 2rem;
}

@media (min-width: 767px) {
  .footer__stamps img {
    max-width: 80px;
  }
}

#col-fav {
  @media (max-width: 767px) {
    .footer__stamps.banners-times .stamps li img {
      min-width: 200px !important;
    }
  }
  .stamps {
    list-style:none;
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    overflow-x:auto;
    padding:0;
    margin:0;
    max-width:100%
  }

  .stamps li {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:0;
    background-color:#fff;
    box-shadow:none
  }

  @media(min-width:767px) {
    .stamps li {
      width:12.7375rem;
      height:12.7375rem
    }
    .stamps li {
      width:12.7375rem;
      height:24.7375rem
    }
    img {
      max-width:240px
    }
    .footer__stamps img {
      max-width:80px
    }
    .stamps>li {
      min-width:240px;
      max-width:300px;
      padding:1rem 0;
      text-align:center
    }
  }
}


#international__stamps {
  .stamps {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .stamps li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #7200DD;
    box-shadow: .0625rem .0625rem .25rem #979798;
  }

  .stamps > li {
    min-width: 120px;
    max-width: 180px;
    padding: 1rem 0;
      padding-bottom: 1rem;
    text-align: center;
  }
}

.footer {
  background-color: black;
  color: #fff;
  * {
    color: #fff !important;
  }
}

.product__customization--patch {
  display: flex;
  flex-direction: column;
}

#col-fav.craque {
  @media (max-width: 767px) {
    img {
      max-width: 135px !important;
      max-height: none !important;
    }
  }
}

#col-fav, #col-leagues {
  & > p {
    font-size: 20px !important;
  }
}

.prices__value > small {
  display: none !important;
}

#col-fav.feedback {
  @media (max-width: 767px) {
  }
}

#col-fav.encontre-ivo {
  @media (max-width: 767px) {
      .stamps li {
      min-width: 66.6% !important;
      img {
        min-width: 200px !important;
        max-height: none !important;
      }
    }
  }
}

.choose-patch ul {
  display: flex;
  padding-left: 0;
  overflow-x: scroll;
  max-width: 540px;
  li {
    padding-left: 5px;
    padding-right: 5px;
    img {
      height: 100px !important;
      min-width: 100px;
      &:hover {
        border: 2.5px solid;
      }
      &.active {
        border: 2.5px solid;
      }
    }
    small {
      font-size: 75%;
      max-width: 108px;
    }
  }
}


.header__submenu a {
  display: inline-flex;
  align-items: center
}

.product-card__prices {
  text-align: center;
  text-transform: uppercase;
  .prices__discount span {
    color: orange;
    font-size: 18px;
  }
  .prices__value {
    font-size: 14px;
    color: orange;
    font-weight: normal;
    &::before {
      content: 'OU ';
    }
  }
}

.product-card__name {
  text-align: center;
  text-transform: uppercase;
}

#mobile-search-btn i, #user-button i {
  color: #fff !important;
}
.reviews {
  .products-carousel__title::before {
    height: 0 !important;
  }
  small {
    color: var(--secondary);
  }
  .depoimento-box {
    min-height: 300px;
  }
  height: unset;
}


.depoimentos.banner-wrapper .depoimento-box {
  margin: 0px auto;
}
.depoimento-box {
  border: 1px solid #EBE6E3;
  border-radius: 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
  -moz-box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
  box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
  text-align: center;
  padding: 20px;
}
.title-client-avk {
  text-align: center;
}
.title-client-avk img {
  border-radius: 200px;
  max-height: 70px;
  margin: 0 auto;
  margin-bottom: 0px;
  border: 1px solid #C9AB72;
}
.title-client-avk p {
  color: #434343 !important;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 5px;
  display: block;
}
.title-client-avk small {
  font-size: 16px;
}

@media (min-width: 1200px) {
  .depoimento-box {
    text-align: left;
  }
  .title-client-avk {
    text-align: left;
    position: relative;
  }
  .title-client-avk img {
    display: block;
    text-align: center;
    margin-bottom: 0px;
  }
  .title-client-avk p {
    font-size: 18px;
    font-weight: 700;
  }
}


.modal-white::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.modal-white.not-width {
  width: auto;
  white-space: nowrap;
}

.modal-white {
  width: 236px;
  padding: 25px 20px 18px;
  right: -40px;
  left: auto;
  cursor: auto;
  text-align: center;
  transition: unset;
  border-radius: 8px;
}

.modal-white {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  color: #000;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.17;
}

.account:hover .modal-white {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out .2s;
  z-index: 1000;
  right: 82%;
}

.account:hover .modal-white {
  visibility: visible;
}

.account {
  .icon-user {
    path {
      fill: #fff;
    }
    width: 32px;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account .modal-white::before {
  right: 40px;
}

.account .modal-white {
  cursor: auto;
  text-align: center;
}

.account .box-contact {
  width: 180px;
  padding-left: 10px;
}

.account .box-contact .icon {
  width: 53px;
  height: 53px;
  display: block;
  margin: 0 auto 12px;
}

.account .icon {
  width: 0.48rem;
  margin-left: 0.313rem;
  display: block;
  margin-right: 10px;
  fill: #000;
}

.modal-white .title {
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
}

.header__buttons i {
  height: 32px;
  width: auto;
}

.account {
  margin-right: 60px;
}

@media(min-width: 992px) {
  .account, #user-button {
    margin-right: 60px;
  }

  #user-button {
    display: flex;
    align-items: center;
    font-size: 32px;
  }

  #cart-button {
    font-size: 32px;
  }

  #user-button::after {
    content: 'Minha Conta';
    color: #fff;
    font-size: .875rem;
    cursor: pointer;
    width: 78px;
    letter-spacing: 0.14px;
    display: inline-block;
    padding-left: 10px;
    text-align: left;
  }
}

.description-lead[aria-expanded="false"]::after {
  content: "+";
  opacity: 1;
}

.description-lead[aria-expanded="true"]::after {
  content: "-";
}

.description-lead::after {
  display: inline;
  font-weight: 700;
  position: absolute;
  right: var(--spacer-4);
  transition: opacity .2s;
}

@media(max-width: 567px) {
  .account {
    display: none !important;
  }
  .sub-container .contact {
    padding: 30px 24px 30px 16px;
    background: #fff;
    color: #000;
    font-size: 0.875rem;
  }
  .sub-container .contact .icon {
    width: 53px;
    height: 53px;
    display: block;
    margin-right: 10px;
    fill: #000;
  }

  .sub-container {
    .title {
      font-size: 1.125rem;
      font-weight: 500;
      text-transform: uppercase;
    }
    .text-rastreio {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 4px;
      color: #000;
      text-align: center;
      display: block;
    }

    
input:not([type="radio"]):not([type="checkbox"])::placeholder, textarea::placeholder {
  color: var(--text_input);

}
element {
}
input:not([type="radio"]):not([type="checkbox"]), button, select, textarea {
  font-family: inherit;

  -webkit-appearance: none;

  font-weight: normal;

  background: var(--bg_input);

}
.modal- form input {
  width: 90%;

  border: 1px solid grey;

  height: 30px;

  padding: 10px;

  display: block;

  background: #fff;

  margin: 0 auto;

  border-radius: 4px;

}
.modal- form .rastreio {
  width: 30%;
  display: block;
  margin: 10px auto;
  background: #000;
  padding: 8px 0;
  color: #fff;
  border-radius: 4px;
}
  }
  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.modal-white::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.account .modal-white.not-width {
  width: auto;
  white-space: nowrap;
}

.account:hover .modal-white {
  opacity: 1;
  visibility: visible;
  transition: ease-in-out .2s;
}

.account .modal-white {
  width: 236px;
  padding: 25px 20px 18px;
  right: -40px;
  left: auto;
  cursor: auto;
  text-align: center;
  transition: unset;
  border-radius: 8px;
}

.modal-white {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  color: #000;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.17;
}

.account .box-contact {
  width: 180px;
  padding-left: 10px;
}

.account .rastreio {
  width: 228px;
  padding-left: 30px;
}

.account .box-contact .icon {
  width: 53px;
  height: 53px;
  display: block;
  margin: 0 auto 12px;
}

.modal-white .title {
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
}

.modal-white .option {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.14px;
}

.line-options.flex {
  display: flex;
}

.modal-white .rastreio .title {
  font-size: 1.125rem;
  margin: -6px 0 10px;
  text-transform: uppercase;
}

.modal-white input {
  width: 100%;
  display: block;
  height: 44px;
  font-weight: 600;
  font-size: .875rem;
  border: 1px solid #000;
  padding: 0 14px;
  color: #000;
  margin: 10px 0;
  text-transform: uppercase;
  text-align: left;
}

.modal-white .botao-commerce {
  background-color: #000;
}

.modal-white .botao-commerce {
  width: 100%;
  box-shadow: 1px 1px 1px 0 rgba(9, 74, 102, 0.16);
}

.botao-commerce {
  color: #fff !important;
  background-color: #000;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 44px;
  padding: 0 20px;
  -webkit-transition: background-color ease-in-out .3s;
  -o-transition: background-color ease-in-out .3s;
  transition: background-color ease-in-out .3s;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.products-carousel__title a::after {
  content: " + Ver mais";
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5rem;
}


/* GALLERY VIDEO */
.gallery__thumbs{display: flex;}
.gallery__item.gallery__item--video{
  opacity: 1;
  align-self: flex-end;
  .i-play{
    border: 2px solid;
    border-radius: 50%;    
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0 auto;
  }
}
.videoPopup{
  position: fixed;
  z-index: 999999999999;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .2);
  padding: 2rem;
  .embed-responsive{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .close{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      color: #fff;
      opacity: 1;
      border: 2px solid #fff;
      line-height: initial;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      margin: 1rem;
      padding-bottom: 7px;
    }
  }
  video{
    width: fit-content!important;
    height: 80vh;
    margin: 0 auto;
    aspect-ratio: .749;
    position: relative!important;
   
  }
  
}
.mobile-gallery-functions {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 -15px;
    padding: .5rem 0;
    .justify-content-end{justify-content: flex-end;}
    .justify-content-start{justify-content: flex-start;}
    button:first-child{
      border-right: 1px solid #ccc;
    }
    button{
      padding: 0 2rem;
      background: transparent;
      border: 0;
      
      line-height: 30px;
      font-size: 14px;
      color: #666;
      display: flex;
      align-items: center;
      justify-content: center;
      gap:5px;
      opacity: .7;
      font-weight: 400;
      span{
        line-height: 0;
        svg{
          height: 20px;
          width: 20px;
          path{}
        }
      }
    }
    button.active{
      opacity: 1;
      color: #000;
      path{
        stroke:#000;
      }
    }
}
@media(max-width:990px){
  #product-gallery{
    .gallery{
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
    }

    .videoPopup{
      position: relative;
      height: auto;
      width: 100vw;
      overflow: hidden;
      padding: 0;
      z-index: 1;
      .close{display: none;}
    }
  }
}